{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-wrap justify-content-evenly gap-2 ms-5 me-5 mb-5 mt-5">
  {% for post in data %}
    <div class="card text-center" style="width: 40%;">
      <div class="card-header bg-black text-light">
        Blog
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <a href="#" class="btn btn-primary">{{post.Authors.name}}</a>
      </div>
      <p>Date added: {{ post.date_added }}</p>
      <p>catagories:
        {% for cat in post.category.all %}
        <button class="btn btn-primary btn-sm m-2" disabled >{{cat.name}} </button>
        {% endfor %}<p/>
        
      <div class="button">
        <a class="btn btn-danger" href=" {% url 'edit_post' post.id %} " class="btn btn-denger">Edit</a>
        <a class="btn btn-warning" href=" {% url 'delete_post' post.id %} " class="btn btn-warning">Delete</a>
      </div>
    </div>
    

    
  {% endfor %}
<div>

{% endblock %}